:root {
  /* Main (Yellow scale) */
  --main-100: #FFF8E5;
  --main-200: #FFF1CC;
  --main-300: #FFE299;
  --main-400: #FFD56B;
  --main-500: #FFC533;
  --main-600: #FFB700;
  --main-700: #B28000;
  --main-800: #996E00;
  --main-900: #805B00;

  /* Gray scale */
  --gray-50:  #F7F7F7;
  --gray-100: #F0F0F0;
  --gray-200: #E8E8E8;
  --gray-300: #DDDDDD;
  --gray-400: #A5A5A5;
  --gray-500: #666666;
  --gray-600: #4D4D4D;
  --gray-700: #373737;
  --gray-800: #2E2E2E;
  --gray-900: #191919;

  /* Sub / Warning */
  --sub-500:    #4D9DE0;
  --warning-500:#FF5C33;

  /* White / Black */
  --white: #FFFFFF;
  --black: #000000;
}
